/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

.boardStyle {
    border: solid black 1px;
}

.squareStyle {
  border: solid black 1px;
}

.hitShipStyle {
  background-color: pink;
}

.unhitShipStyle {
  background-color: gray;
}

.shipSunkStyle {
  background-color: red;
}